
/*----------- BODY --------------*/


/*----------- HEADER --------------*/
header h1 {font-size: 1.7rem; margin-top: 1rem;}
header h2 {font-size: 1rem;}



/*----------- NAVIGATION --------------*/
nav ul {margin-left: 2%;}
nav ul li {width: auto;}
nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
div.produceGallery figure {
    flex-basis: 29%;
}


/*----------- FOOTER --------------*/
