@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
  
  body {
    background:rgb(243, 225, 167);
    font-family: 'Lobster Two', cursive;
  }

  header {
   position: relative;
   height: 100%;
   width: 100%;
   padding-bottom: 2%;
  }
  
  header h1 {
      position: absolute;
      top: 25%;
      left: 16px;
      font-weight: 700;
      font-size: 3rem;
      text-shadow: 3px 3px 5px rgb(143, 143, 143);
  }

  header h2 {
    position: absolute;
    top: 42%;
    left: 16px;
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(143, 143, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h3 {
  position: absolute;
  top: 48%;
  left: 16px;
  font-weight: 400;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px rgb(143, 143, 143);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
/*---------- MAIN ----------*/
main, header, footer {max-width: 1000px; margin: 0 auto;}

main h2{
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 3px rgb(143, 143, 143);
    margin: 0;
    padding: .5rem 0 2rem 0;
  }

  main h2:after, main h2:before {
    content: '';
    width: 300px;
    height: 2px;
    background: rgb(29, 11, 11);
    margin: 0 auto;
  }
  
  
/*---------- Projects ----------*/
  
.projects-section {
    text-align: center;
    justify-content: center;
    /* padding: .5rem 2rem 0 .5rem; */
    padding: 2%;
    margin: 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 6rem;
  }

  @media (max-width: 30.625em) {
    projects-section {
    padding: 6rem 1rem;
    
}

.projects-grid {
    grid-template-columns: 1fr;
}
}

.project {
    /* background: rgb(181, 183, 184); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-weight: 400;
    text-align: center;
    height: 400px;
    width: 100%;
    max-width: 550px;
    margin: auto;
}

.code {
    color: black;
    transition: 0.3s ease-out;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    /* added radius */
    border-radius: 5px 5px 0px 0px;
}

.project-title {
    font-size: 2rem;
    /* padding: .5rem 0rem; */
}

.project:hover .code {
    color: rgb(206, 161, 15);
    font-style: normal;
}

.projects-grid > a:hover {
    background: rgb(229, 229, 229);
    color: black;
    font-weight: bolder;
    /* border-color: #8a8a8a; */
    /* border-width: 5px; */
    /* border-style: inset; */
  }


  /*------- FOOTER -------*/
  footer {
    text-align: center;
    background-color: rgb(181, 183, 184);
    padding: .8rem 0;
    color: #000;
    font-size: .8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    vertical-align: middle;
  }
  footer img {
    width: 55px;
    padding-left: 15px;
    vertical-align: middle;
  }


/*------ MOBILE -------*/
  @media only screen and (max-width: 500px) {
    /* HEADER */
    header {
      /* position: relative; */
      /* height: 300px; */
      width: 100%;
      display: block;
      height: 210px;
  
     }

    header img {
      width: 100%;
    }
    
    header h1 {
      /* position: absolute; */
      width: 100%;
      top: 150px;
      /* left: 16px; */
      font-weight: 700;
      font-size: 1.5rem;
      text-shadow: 1px 1px 3px rgb(143, 143, 143);
    }

    header h3 {
      /* position: absolute; */
      width: 100%;
      top: 180px;
      /* left: 16px; */
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 1px 1px 1px rgb(143, 143, 143);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header h2 {display: none;}


    /* MAIN */
    main {
      padding-top: 2%;
    }
    main h2{
      font-size: 1.5rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 2px 2px 3px rgb(143, 143, 143);
      margin: 0;
      padding: 0 0 2rem 0;
    }

    main h2:after, main h2:before {
      content: '';
      width: 100px;
      height: 2px;
      background: rgb(29, 11, 11);
      margin: 0 auto;
    }

/* PROJECTS */
    
  .projects-section {
    text-align: center;
    justify-content: center;
    padding: .5rem 4% 0 4%;
    margin: 0;
  }

  .project {
    background: rgb(181, 183, 184);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-weight: 400;
    text-align: center;
    height: 260px;
  }

  }

  /*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
