header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

/*----- COLUMNS --------*/
@for $i from 1 through 12 {
    $w:($i/12) * 100%;
    .large-#{$i} {flex-basis: $w;}
}


/*----------- FOOTER --------------*/
div.social a {
    font-size: 2rem;
}
