


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
    padding-top: 2.5rem;
    display: flex;
    align-items: flex-end;
}

header h1 {font-size: 2rem;}
header h2 {margin: 0; font-size: 1.5rem; font-weight: normal;}

.text {flex: 4;}
.search {flex: 1; padding: 0; margin: 0;}
.searchbar {float: right; clear: both;}

/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid $textColor2;}
    nav ul li:last-child a {border-right: 1px solid $textColor2;}
    nav ul li a {padding: .5rem 1rem;}


/*----------- MAIN --------------*/


/*----- COLUMNS --------*/
@for $i from 1 through 12 {
    $w:($i/12) * 100%;
    .medium-#{$i} {flex-basis: $w;}
}



/*----------- FOOTER --------------*/
    
div.social a {
    font-size: 2rem;
}