/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


/*----------- HEADER --------------*/
#headerWrapper {background-color: $thridColor;}
header {
    padding: 0 2%;
    padding-top: 1rem;
    font-family: 'Volkhov', serif;
}

header h1 {margin: 0; font-size: 1.3rem; font-weight: 700;}
header h2 {margin: 0; font-size: 1rem; font-weight: 400;}

.text {display: inline-block;}

.search {padding: .5rem 0; display: inline-block; font-family: 'Open Sans', sans-serif;}

/*----------- NAVIGATION --------------*/
#navWrapper {background-color: darken($mainColor, 15%);}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: $mainColor;
    color: #eee;
    border-left: 1px solid $textColor2;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li.active a {
    background-color: $thridColor;
    font-weight: bolder;
    color: $textColor;
}

nav ul li a:hover {
    background-color: $secColor;
    color: $textColor;
    font-weight: bold;
}

/*----------- MAIN --------------*/
main {
    padding: 2% 2%;
    min-height: 10rem;
}

/*----- COLUMNS --------*/
.attorneys, .optionButtons, .faqs, .blogs, .tips {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.attorneys, .optionButtons {color: $textColor2;}

.blogs, .tips {color: $textColor;}


.column {padding: 0 $gutter;}


@for $i from 1 through 12 {
    $w:($i/12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}



// H3
h3 {
    text-align: center; 
    font-family: 'Volkhov', serif; 
    font-weight: 400;
    padding: 0 $gutter; 
}

.blogs h3, .tips h3 {text-align: left;}
.tips h3 {padding: 0;}


// PARAGRAPH
.blogs p {padding: 0 $gutter;}


// LOOKHERE
.lookhere {
    border: 1px solid $textColor;
    padding: 0;
}

.attorneys .lookhere {
    background-color: $mainColor;
}

.blogs .lookhere {
    background-color: $secColor; 
    margin-bottom: $gutter;
}

// TIPDAY
.tipDay {color: $textColor; background-color: $thridColor;}


// IMAGES
.attorneys img, .blogs img {display: block; width: 100%;}




// All BUTTONS
.attorneys .button, .optionButtons .action, .blogs button, .tips .button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Volkhov', serif;
}
.optionButtons .action {width: 100%; height: 70px;}
.tips .button {justify-content: left;}


.attorneys button, .optionButtons button, .blogs button, .tips button {
    font-weight: 700;
    height: 2.5rem;
    color: $textColor;
}

.attorneys button {
    background-color: $secColor; 
    width: 90%; 
    margin: 2vw 0; 
    border-radius: 8px; 
}

.optionButtons button {
    background-color: darken($mainColor, 10%); 
    color: $textColor2; 
    margin: 2vw 0; 
    border-radius: 8px;
}

.blogs button {
    background-color: $mainColor; 
    color: $textColor2; 
    width: 100%; 
    border: none;
}

.tips button {border: none; background-color: inherit;}


.attorneys button:hover, .tips button:hover, .blogs button:hover, .optionButtons button:hover {text-transform: uppercase;}
.blogs button:hover,.optionButtons button:hover {background-color: $thridColor; color: $textColor;}



/*----------- FOOTER --------------*/
#footerWrapper {background-color: darken($mainColor, 15%);}
footer {
    padding: .5rem 2%;
    text-align: center;
}

div.social a {
    flex-basis: 25%;
    margin-right: 2%;
    text-align: center;
    color:lighten($mainColor, 45%);
    font-size: 3rem;
}

div.social a:last-child {margin-right: 0;}

div.social a:hover {
    color: $secColor;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

