header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/


/*----------- NAVIGATION --------------*/
nav ul {margin-left: 2%;}
nav ul li {width: auto;}
nav ul li:first-child a {border-left: 1px solid $secColor;}
nav ul li:last-child a {border-right: 1px solid $secColor;}

nav ul li a {
    display: block;
    background-color: rgb(151, 0, 0);
    color: $secColor;
    border-left: 1px solid $secColor;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    padding: .5rem 1rem;
}

nav ul li.active a {
    background-color: $secColor;
    color: $mainColor;
}

nav ul li a:hover {
    background-color: lighten($mainColor, 50%);
    color: $secColor;
}


/*----------- MAIN --------------*/
// main .members {grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));}
main .members {grid-template-columns: auto auto auto auto;}


/*----------- FOOTER --------------*/
    
