/*CSS reset*/
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

/* box model fix here */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*---BODY---*/
body {
   font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #050505;
    background-color: white;
    background-image: url(images/body_gradient.gif);
    background-repeat: repeat-x;
}


/*---WRAPPER---*/

div#wrapper {
    margin: 0 auto;
    max-width: 960px;
    box-shadow: 0 0 10px #777;
}




/*---HEADER---*/
header {
    background-color: #8e755b;
    background-image: url(images/Maggiesstables2.png);
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: 2% 1rem;
}

header h1 {
    color: #f2f2f2;
    font-size: 3rem;
    padding: 1.5rem 0 0 7.5rem;
    filter: drop-shadow(1px 1px 1.5px #000);
}

header h2 {
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 7.5rem;
    letter-spacing: 4px;
    filter: drop-shadow(.8px .8px .8px #000);
}


/*---NAVIGATION---*/
/* phone nav */
@media only screen and (max-width: 600px) {
    nav {
        background-color: #999;
        padding: .5rem 2%;
    }
    
    nav ul.menu {
        list-style-type: none;
        padding: 0;
    }
    
    nav ul.menu li a {
        padding: .2rem 1rem;
        margin-bottom: .5rem;
        background-color: lightgray;
        color: black;
        font-weight: 600;
        text-decoration: none;
        display: block;
        border: solid 1px #000;
        border-radius: .5rem;
    }
    
    nav ul.menu li.active a {
        background-color: #d9bb96;
    }
    
       nav ul.menu li a:hover {
        background-color: #99adbf;
        color: white;
    }
} /*end phone*/



/* desktop nav */
@media only screen and (min-width: 601px) {
nav {
    background-color: lightgray;
    background: linear-gradient(to bottom, #fff 0%, #888 100%);
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}


nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.menu li {
    float: left;
}

nav ul.menu li a{
    display: block;
    padding: .5rem 1.5rem;
    color: #050505;
    text-decoration: none;
    border-right: solid 1px #000;
}

nav ul.menu li.active a {
    background-color: #d9bb96;
}

nav ul.menu li a:hover {
    background-color: #99adbf;
    color: white;
    font-weight: 600;
}
} /*end desktop*/




/*---MAIN---*/
main {
    padding: .5rem 2%;
    background-color: #FFF;
}

main h1 {
    font-size: 2rem;
    color: #8e755b;
    border-bottom: 1px solid lightgray;
    margin-bottom: .4rem;
    text-shadow: 1px 1px 1.5px #000;
}

main h2 {
    font-size: 1.5rem;
    color: #050505;
    margin-bottom: .2rem;
}

main p {
    padding-bottom: .8rem;
    line-height: 150%;
}


main blockquote {
    font-style: italic;
    margin: .5rem 5%;
    font-size: .8rem;
    font-weight: 400;
}

main a {
    color: #8e755b;
}

main a:hover {
    color: #99abdf;
}



/*---MAP---*/

iframe.mymap {
    border: 1px solid #666;
    width: 96%;
    margin-left: 2%;
    height: 500px;
}


/*---TABLE---*/

table.schedule {
    border-collapse: collapse;
    font-size: .9rem;
    border: 1px solid #666;
    margin: 0 auto;
    width: 100%
}

table.schedule th {
    text-align: left;
    background-color: #8e755b;
    color: white;
    font-size: 1.5rem;
    padding: .1rem .5rem;
}

table.schedule td {
    padding: .5rem;
}

table.schedule tr:nth-child(even) {
    background-color: lightgray;
}

table.schedule tr:hover {
    background-color: #d9bb96;
    color: black;
    font-size: 1rem;
    font-weight: 300;
}


/*---VIDEO FROM YOUTUBE---*/

iframe.myvideo {
width: 98%;
margin-left: 1%;
height: 515px;
margin-bottom: 1rem; 
}




/*---lISTS---*/

main ol.check, main ol.afternoon, main ul.bulb, main ul.links {
    margin: 0 0 .8rem 0;
    padding: 0 0 0 2rem;
}

main ul.links{
    list-style-type: circle;
}


main ol.check {
    list-style-type: disc;
}

main ol.afternoon {
    list-style-image: url(images/check.png);
}


main ul.bulb {
    list-style-image: url(images/lightbulb.png);
}


main dl dt {
    margin: 0;
    font-weight: 600;
    padding: 0 0 0 1rem;
}


main dl dd {
    margin: 0;
    padding: 0 0 .75rem 2rem;
}



/*---IMAGES---*/

figure.myPhoto {
    float: right;
    border: 1px solid lightgray;
    width: 35%;
    background-color: #8e755b;
    margin: 0 0 0.25rem 2%;
    box-shadow: 3px 3px 5px #777;
}



figure.rides {
    float: right;
    clear: right;
    border: 1px solid lightgray;
    width: 30%;
    background-color: #8e755b;
    margin: 0 0 2rem 2%;
    box-shadow: 3px 3px 5px #777;
}


/*
figure.rides {
    border: 1px solid lightgray;
    width: 30%;
    width: 280px;
    margin: .2rem;
    background-color: #8e755b;
}

 div.ridesGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
*/



div.staffGallery {
    display: flex;
    flex-wrap: wrap;
}



figure.myPhoto img, figure.people img, figure.rides img {width: 100%;}



figure.people figcaption, figure.myPhoto figcaption, figure.rides figcaption {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .9rem;
    font-weight: 400;
    color: white;
}

figure.people figcaption {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .9rem;
    font-weight: 300;
    color: black;
}


figure.people {
    border: 1px solid lightgray;
    width: 20%;
    width: 180px;
    margin: .5rem;
    background-color: white; 
    padding: .1rem;
}

figure.people figcaption span {
    display: block;
    font-weight: bold;
    font-size: .9rem;
    text-decoration: none;
    color: #8e755b;
}


/*---FORM & THANKS---*/

.thanks {
    float: right;
    width: 40%;
    margin: 0 0 0.25rem 0;
}

p.name {
    text-indent: 2rem;
}



form.riding fieldset {
    margin-bottom: 2rem;
    border-radius: .5rem;
    font-size: .8rem;
    border-color: #8e755b;
    color: #8e755b;
}

form.riding legend {
    font-weight: 700;
    margin-left: 1rem;
}


form.riding span {
    display: block;
    padding: .5rem 0 0 .3rem;
    font-weight: 400;
}

form.riding .userinfo {
    color: black;
    width: 15rem;
    border-radius: .6rem;
    border: inset 3px lightgray;
    padding: .4rem;
}


form.riding .userbutton {
    color: white;
    font-size: 1rem;
    width: 15rem;
    border-radius: 1.5rem;
    border: outset 3px lightgray;
    padding: .8rem;
    margin-left: 2%;
    background-color: darkgreen;
    font-weight: 600;
}



/*---FOOTER---*/

footer {
    background-color: rgb(142, 117, 91);
}

footer p {
    text-align: center;
    color: #f2f2f2;
    padding: .5rem;
    font-size: .8rem;
    font-weight: 600;
}




/*---OTHER---*/
div.keepOpen {
    clear: both;
}
