/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Rowdies', cursive;
}


/*----------- HEADER --------------*/
.headerWrapper {background-color: $main-color;}
header {
    padding: 1.5rem $padding-2;
}
header a {text-decoration: none;}

header h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    margin: $margin; 
    color: $main-text;
    text-shadow: 2px 2px 5px $body-text;
}

/*----------- MAIN --------------*/
main {
    min-height: 32rem;
    padding: $padding;
    margin: $margin;
}


#location {
    background-color: $sec-color;
    margin: $margin;
    padding: 1.5rem $padding;


    h1 {
        padding: 1rem 3%; 
        margin: $margin;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: $main-text;
    }
}

#forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $padding-2;
    margin: 1rem $margin;

    .dayCard {
        width: 100%;
        margin: $margin-2 $margin-2;
        border: 2px solid $sec-color;
        text-align: center;


        .dayOfWeek {
            background-color: $main-color;
            border-bottom: 2px solid $sec-color;
            width: 100%;
            padding: 1.5rem $padding-2;
            font-size: 1.5rem;
            color: $main-text;
        }


        .theDayInfo {
            padding: 1rem $padding-2;
            margin: $margin;

            p {
                font-size: 2.5rem;
                font-weight: 400;
                margin: .5rem $margin;
            }
    
            img {width: 35%;}
        }

    }
}



/*-------- FOOTER --------*/
#footerWrapper {
    background-color: $main-color;
}

footer {
  color: $main-text;
  text-align: center;
  padding: 0.3rem $padding;
  font-weight: 300;

}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}