/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;

    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 999;
    // padding: 0;
    // margin: 0;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

// .spacer {width: 100%; padding: 2rem 2%;}
/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;

}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    flex-basis: 33.3%;
}
nav ul li a span {
    display: block;
}

nav ul li a {
    display: block;
    width: 100%;
    text-transform: uppercase;
    background-color: #444;
    color: #fff;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

div#myCards {
    figure {
        margin: 0;
        width: 50%;
        width: 100%;
        position: relative;

        img {width: 100%;}
        figcaption {
            position: absolute; 
            bottom: 0;
            background-color: rgba(0,0,0, 0.5);
            color: #fff;
            width: 100%;
            padding: .5rem 2vw;
        }
    }  
}

// div#inventoryWrapper {
//     display: grid;
//     grid-template-columns: 1fr;
//     background-color: rgb(221, 221, 221);
// }

// section {padding: 2%; margin: 0; background-color: #ddd;}

// figure {position: relative; padding: 0; margin: 0;}
// figure img {width: 100%;}
// figcaption {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     background-color: rgb(0,0,0,);
//     color: white;
//     padding: .3rem 2%;
// }

// section .info {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     border: 2px solid black;
//     border-radius: 0 0 3px 3px;
//     background-color: #fff;
//     padding: .5rem 2%;
// }

// .info span i {
//     float: left;
//     font-size: 1.3rem;
//     color: rgb(167, 0, 0);
// }

// .info span p {
//     padding: 0;
//     margin: 0;
//     padding-left: 1.6rem;
//     font-size: .8rem;
//     line-height: 1rem;
// }




/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}