/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Grenze', serif;
}


/*----------- HEADER --------------*/
header {
    padding: 1.5rem $padding-2;
    background-color: $main-color;
}
header a {text-decoration: none;}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: $margin; 
    color: $main-text;
    text-shadow: 2px 2px 5px $body-text;
}

/*----------- MAIN --------------*/
main {
    padding: $padding $padding-2;
    min-height: 10rem;

    h1 {padding-bottom: $padding; margin-bottom: $margin; font-weight: 400;}
}

hr {border: 2px solid $main-color; margin: 1rem $margin;}

#myCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: $padding-2;
    grid-row-gap: $padding-2;
    padding: $padding;
    margin: $margin;

    .hotelCard {
        height: 100%;
        padding: $padding;
        margin: $margin;

        .imageInfo {
            margin: $margin;
            padding: $padding;
            width: 100%;
            position: relative;
            background-color: #000;

            img {width: 100%; padding: $padding; margin: $margin;}
            figcaption {
                position: absolute; 
                bottom: 0;
                background-color: $main-color;
                background-color: rgba(0, 0, 0, .7);
                font-weight: 400;
                color: #fff;
                width: 100%;
                padding: .35rem 2vw;
                font-size: 1.5rem;
            }
        }  

        .hotelInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $padding-2;
        background-color: #fff;
        padding: .5rem $padding-2;
        font-weight: 300;
        border: 2px solid $body-text;
        border-radius: 0px 0px 3px 3px;
        

            span i {float: left; font-size: 1rem; color: $main-color;}

            span p {
            padding: $padding;
            margin: $margin;
            padding-left: 1.45rem;
            font-size: 1rem;
            font-weight: 300;
            }

            span i:hover, span p:hover {font-weight: 400; cursor: pointer;}
        }  
        
    }

}


.spacer {width: 100%; padding: 5rem $padding;}


/*----------- NAVIGATION --------------*/
nav {
    background-color: $main-color;
    margin: $margin;
    padding: $padding;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: $padding;
    margin: $margin;
}
nav ul li {flex-basis: 33.4%;}

nav ul li a span {display: block;}


nav ul li a {
    display: block;
    width: 100%;
    text-transform: uppercase;
    background-color: $main-color;
    color: $main-text;
    border-left: 1px solid $main-text;
    padding: .5rem $padding;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}


nav ul li a i {font-size: 1.5rem;}

nav ul li.active a {background-color: rgba(0,0,0,1); color: $main-text;}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.55);
    color: $main-text;
    font-weight: 700;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}