nav ul li a {
    padding: .6rem 1rem;
}


/*-------- MAIN --------*/ 

header, nav, main, footer {
    // max-width: 80rem;
    max-width: 74rem;
    margin: auto;
}

.videoSection {
    .video {
      width: 60%;
      height: 500px;
    }
  }


.blogs p {
    min-height: 180px;
    text-align: left;
}


@for $i from 1 through 12 {
    $w:($i/12) * 100%;
    .large-#{$i} {flex-basis: $w;}
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }