header, nav, main, footer {
  max-width: 70rem;
  margin: auto;
}

/*-------- HEADER --------*/ 
header {background-color: #fff;}




/*-------- NAV --------*/ 
nav {
  margin: 0 auto;
  max-width: 722px;
  min-width: 710px;
}


nav ul li a {
    padding: .6rem 1rem;
}

nav ul li ul {
  z-index:998;
  position: absolute;
  background-color: $sec-color;
  background-color: rgb(240, 240, 240);
  left:-999em;
  width: 10em;
  transform: none;
  
}

/*-------- MAIN --------*/ 
  /*---- section h1s ----*/
  main {
    h1:before {width: 30%;}
    h1:after {width: 30%;}
  

   #trails, #book  {h1:before, h1:after {width: 30%;}}

  .quick, .videoSection {h1:before, h1:after {width: 25%;}}

  .videoSection {h1:before, h1:after {width: 30%;}}

  .meetHorses {h1:before, h1:after {width: 25%;}}
}



// .letter, .trails {
//   div {
//     button {
//       width: 30%;
//     }  
//   }
// }

/*-------- Welcome --------*/
.letter {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;

  .readMore {
    a {
      display: block;
      text-align: center;
      margin: 0;
      width: 30%;
    }
  }
}


/*-------- Gallery--------*/
.lazyImagesTwo {
  padding: 1rem 0;

  .galleryTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    margin: 0 auto;
    width: 97%;

    figure {
      width: 100%;    
      img {
        width: 100%;
      }
    }
    
  }
}



/*-------- Trails --------*/

.trailContent {
  p {
    width: 100%;
    max-width: 80%;;
    margin: 0 auto;
  }

  .rideList {
    div {
      width: 30%;
    }
  }
}

.images {
  padding: 1.2rem $pad-three;
  padding: 0;
  margin: 0 auto;
  width: 100%;

  .lazyImagesRides {
    padding: 1rem 0;
    width: 80%;
    margin: 0 auto;


    .galleryTwo {



       figure {
        width: 100%;
        height: 0;
        padding-bottom: 105%;
        margin: $margin;
    
        img {width: 100%; height: auto;}
      }
    }
  
  }

  h3 {padding-top: 1.5rem; }
  p {width: 78%; margin: 0 auto; padding: .6rem 0;}
}



/*-------- Book Online --------*/
.trails, .contact { margin: 0 auto;
  div {width: 30%; margin: 0 auto; a {width: 100%;}}
}

/*-------- signup/contact form --------*/
.signupForm {
  fieldset {
    p {width: $full-width; max-width: 53%;}
  }
  .agreement {width: $full-width; max-width: 53%;}
  }

  form label.sbs {padding: .4rem $pad;}




/*-------- video --------*/
.meetHorses {
  border-top: 2px solid $black-text;
  padding: 5%;

  .members {
    .column{

      h2 {
        font-size: 1.3rem;
      }
    }
  }

.viewMore { 
    button {
      width: 25%;
    }
  }
}



.videoSection {
    .video {
      width: $sixty-width;
      height: 500px;
    }
  }




/*-------- BLOG --------*/
.blog {

  .morePosts {
    margin: 0 $margin;
    padding: 1rem 0;

    .search{
      input[type=text] {width: 25%;}
        
      input[type=text]:focus {width: $forty-width;}
    }

    button {width: $forty-width;}
  }

  .card-hover {
    grid-template-columns: 1fr 1fr 1fr;

    .card {
      height: 400px;    
    }

    .card:nth-child(3) {
      grid-column: 3;
    }
  }

}



/*-------- Quick --------*/
.quick {

  ul {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
  }

  li {
    width: 80%;
  }

}




/*-------- BLOG --------*/
.card-hover {
  display: grid;
  grid-template-columns: 1fr 1fr 1f4;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  

  .card {
    min-height: 360px;

  }
}

.card:nth-child(1) {grid-column: 1;}

.card:nth-child(2) {grid-column: 2;}

.card:nth-child(3) {grid-column: 3; grid-row: 1;}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

