nav ul li a {padding: .6rem 1rem;}

/*-------- MAIN --------*/ 
header, nav, main, footer {
    max-width: 74rem;
    margin: $margin auto;
}

.letter, .trails {
  div {
    button {
      width: 30%;
    }  
  }
}


/*-------- signup/contact form --------*/
.signupForm {
  fieldset {
    p {
      width: $full-width;
      max-width: 53%;
    }
  }
  
  .agreement {
    width: $full-width;
    max-width: 53%;
  }
  }

  form label.sbs {padding: .4rem $pad;}



/*-------- video --------*/
.videoSection {
    .video {
      width: $sixty-width;
      height: 500px;
    }
  }


/*-------- BLOG --------*/
.blog {

  .morePosts {
    .search{
      input[type=text] {width: 25%;}
        
      input[type=text]:focus {width: $forty-width;}
    }

    button {width: $forty-width;}
  }

  .card-hover {
    grid-template-columns: 1fr 1fr 1fr;

    .card {
      height: 400px;    
    }

    .card:nth-child(3) {
      grid-column: 3;
    }
  }

}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }