/*-------- HEADER --------*/
header {
  grid-template-columns: 100px 310px;
  margin: 0 auto;
  justify-content: center;

  .headerText {
    h1 {
      font-size: 1.4rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }
}

/*-------- NAV --------*/ 
nav button {display: none;}
nav ul.hide {display: block;}

nav {
  margin: 0 auto;
  width:100%;
  max-width:591px;
  min-width:570px;
  margin: 0 auto;
}

nav ul {
  margin: 0 auto;
  text-align: center;
}

nav ul > li {
    float: left;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    border-right: none;
    // border-left: 1px solid $black-text;
}


nav ul > li:first-child {border-left: none;}

nav ul li a {
    display: block;
    text-align: center;
    margin: 0 auto;
    background: none;
    font-size: 1rem;
    text-decoration: none;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
    border: none;
    padding: .75rem .55rem;
    background-color: #fff;
}


#primaryNav {
  overflow: visible;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-left: 2%;
}

#primaryNav .parent li  {display: block; border-left: none;}

#primaryNav .parent li a  {min-width: 10em;}
 
#primaryNav li.parent > a::after {padding-top: .2rem; margin-left: 0;}

nav ul li ul {
    z-index:998;
    position: absolute;
    background-color: $sec-color;
    background-color: rgb(240, 240, 240);
    left:-999em;
    width: 10em;
    transform: translateX(-52%);
    box-shadow: 1px 1px 3px rgb(158, 158, 158);
}

nav ul li ul li {
    border: none;
    // border-top: 1px solid $black-text;
}

nav ul li ul {border: none;}

nav ul li ul li:first-child {border: none;}

nav ul li:hover ul {left: auto; margin-left: $margin;}



/*-------- MAIN --------*/
main {
  #welcomeTitle, #galleryTitle, #trailsTitle, #bookTitle, #contactTitle, #confirmationTitle  {
    h1:before, h1:after {width: 28%;}
  }

  /*---- section h1s ----*/
  .quick, #blogTitle {
    h1:before, h1:after {width: 28%;}
  }

  .meetHorses {
    h1:before, h1:after {display: block; width: 20%;}
 }
}

/*-------- BUTTONS --------*/
.trailContent .rideList, .trails, .letter, .contact {
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;

      .button {
         width: 100%;
         margin: 0 auto;
        }

  }
}


.trailContent .rideList {

    .bookViewBtn {
      width: 95%;
      margin: 0 auto;

      .button {
        width: 95%;
      }
    }

  }


  .trailContent .rideList .trailBtn {
    display: block;
    width: 50%;
    margin: 0 auto;

  
    .button {
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }

/*-------- Gallery--------*/

.lazyImagesTwo {
  padding: 1rem 0;

  .galleryTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    margin: 0 auto;
    width: 97%;

    figure {
      width: 100%;    
      img {
        width: 100%;
      }
    }
    
  }
}





/*-------- Trails --------*/
.trailContent {
  p {width: 95%; margin: 0 auto;}

  // .rideList {
  //   div {
  //     grid-template-columns: 1fr 1fr;
  //     width: 90%;
  //     margin: 0 auto;
  //       .button {
  //          width: 96%;
  //          margin: 0 auto;
  //         }
  //   }
  // }
}

.images{
  width: 90%;
  padding: 0;
  h3 {font-weight: 700;}

  .lazyImagesRides {
    .galleryTwo {
      grid-template-columns: 1fr 1fr 1fr;
      }
    }
}


/*-------- Book Online --------*/
// .trails {
//   div {
//     margin: 0;
//     display: grid;
//     grid-template-columns: 1fr 1fr;

//     .button {
//       width: 96%;
//       margin: 0 auto;
//     }
//   }
// }



/*---- signup/contact form ----*/

.signupForm {
  fieldset {
    legend {font-size: 1.4rem;}
    
    p {
      width: 72%;
      span {font-weight: 700;}
    }

    .section {font-weight: 700;}
    .agreement {
      max-width: 72%;
      span {font-weight: 700;}
    }

  }
}



/*---- Contact ----*/
// .contact {
//   div {
//     a {width: 50%;}
//   }
// }


/*-------- Confirmation --------*/
.confirmation {
  padding: 1rem $pad-three;

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  h5 {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 0;
    padding-left: 2%;
    font-weight: 400;
  }
}



/*-------- Quick --------*/
.quick {

  ul {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
  }

  li {
    width: 100%;
  }

  a {
    width: 100%;
  }

}


/*------  video ------*/
.videoSection {

  .video {
    width: 90%;
    height: 500px;
  }
}




/*---- Meet the horses ----*/
.meetHorses {
  border-top: 2px solid $black-text;
  padding: 1rem 3%;

  .members {
    margin: 0 auto;
    max-width: 700px;
    grid-template-columns: repeat(4, 1fr);

    .column {
      #maverick, #haughty, #rowdy, #caspian {
        width: 100%;
      }
    }
  }

  .viewMore {
    .button {
      width: 55%;
      padding: 0.8rem $pad;
    }
  }
}



/*-------- BLOG --------*/
.blog {
  .morePosts {
    .viewMore {
      width: 65%;
      margin: $margin auto;
    }

    input[type="text"] {
      width: 30%;
    }

    input[type="text"]:focus {
      width: 52%;
    }
  }
}


.card-hover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  

  .card {
    // min-height: 397px;
    
      .readMore {
        display: none; 
        position: absolute;
        bottom: 10%;
        left: 10%;
        right: 10%;
      }
  }
}

.card:nth-child(1) {
  grid-column: 1;
}

.card:nth-child(2) {
  grid-column: 2;
}

.card:nth-child(3) {
  grid-row: 2;
  grid-column: 1/span 2;
  height: 350px;

}





// /*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
