/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: $full-width;
  -ms-text-size-adjust: $full-width;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", serif;
}

/*-------- HEADER --------*/
header {
  padding: 0.5rem $pad-two;
  background-color: $sec-color;
  display: grid;
  grid-template-columns: 100px 1fr;


  .logo {
    float: left;
    margin: 0 2% 0 0;
    img {width: 100px;}
  }

  .headerText {
   text-align: left;



    h1 {
      // margin: $margin;
      font-size: 1.35rem;
      font-weight: 700;
      margin-bottom:0;
      margin-top: 1.5rem;
    }
    
    h2 {
      margin: $margin;
      font-weight: 600;
      font-size: 1.1rem;
    }

  }

}


/*-------- NAV --------*/
.navWrapper {
  background-color: rgb(240, 240, 240);
  border-top: 2px solid $black-text;
  border-bottom: 2px solid $black-text;
}

nav button {
  margin: .2rem $marg-two;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: $black-text;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#primaryNav {
  height: 0;
  overflow: hidden;
}

#primaryNav.open {height: auto;}

#primaryNav li.parent > a::after {
  content: "\25BC";
  font-size: .7rem;
  padding-top: .16rem;
  color: rgba(0,0,0,0.53);
  float: right;
}

#primaryNav li ul {
  display: none;
}

#primaryNav li:hover ul {
  display: block;
}


nav ul {
  list-style-type: none;
  padding: $pad;
  margin: $margin;
}

nav ul li a {
  display: block;
  padding: .8rem $pad-two;
  text-decoration: none;
  color: $black-text;
  border-top: 1px solid $black-text;
}

nav ul li.active a {background-color: $main-color; color: $white-text;}
nav ul li a:hover {
  background-color: rgb(1, 50, 70); color: $sec-color;
}

nav ul.hide {display: none;}





/*-------- MAIN --------*/
.mainWrapper {
  background-color: $main-wrapper-color;
}

main {
  min-height: 10rem;
  margin: $margin auto;
  background-color: $sec-color;
}

/*-------- page h1 titles/h3 --------*/

main {
  h1 {
    margin: $margin auto;
    padding: .8rem $pad;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }

  h1:before {
    content: "";
    display: block;
    width: 25%;
    height: 5px;
    background: $third-color;
    left: 0;
    top: $half-width;
    position: absolute;
    border-radius: 3px;

  }
  h1:after {
    content: "";
    display: block;
    // width: 130px;
    width: 25%;
    height: 5px;
    background: $third-color;
    right: 0;
    top: $half-width;
    position: absolute;
    border-radius: 3px;

  }

  h3 {
    text-align: center;
    font-weight: 400;
    margin: $margin;

    span {
      font-style: italic;
    }
  }

  h5 {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 0;
    padding-left: 2%;
    font-weight: 400;
  }
}


.confirmation {
  padding: 1rem 5%;

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }
  

  h5 {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 0;
    padding-left: 2%;
    font-weight: 400;
  }
}


/*-------- Hero/slider --------*/

.slider picture {
  position: relative;
  padding: $pad;
  margin: $margin;

  img {
    width: $full-width;
  }
}


main picture.hero {
  width: $full-width;
  margin: $margin;
  padding: $pad;

  img {
    width: $full-width;
    margin: $margin;
    padding: $pad;
  }
}


.textContent {
  padding: $pad-two;
  margin: $margin;
  background-color: $sec-color;
}



/*-------- welcome letter/book now --------*/
.letter, .trails {
  padding: 1rem 5%;

  div {
    margin: $margin auto;

    button {
      margin: .7rem $margin;
      width: $sixty-width;
      width: 100%;
      max-width: 480px;
      background-color: $main-color;
      padding: 0.8rem $pad;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-weight: 700;
    }
  
  
    button:hover {
      background-color: $third-color;
      color: $white-text;
      cursor: pointer;
      text-decoration: none;
    }
  }
}





/*-------- gallery --------*/
.gallery {
  padding: 1.2rem $pad;
}


.gallery h4 {
  margin: $margin;
  text-align: center;
  padding: $pad-two 4%;
  font-weight: 400;
  font-size: 1.2rem;
}



/*-------- signup/contact form --------*/
.signupForm {
  padding: .5rem 5%;
  margin: $margin;



  fieldset {
    background-color: $sec-color;
    margin: 2rem $margin;
    border: 3px solid $black-text;
    border-radius: 15px;
    padding: $pad-two;

    p {
      width: $full-width;
      max-width: 90%;

      span {font-weight: 700;}
    }
  }

  legend {
    color: $main-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    margin: $margin $marg-two;
    padding: $pad 1rem;
  }

  label.top, div {
    display: block;
    padding-top: 1rem;
    color: $black-text;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;

  }

  div span {
    font-weight: 700;
    }

  .agreement {
    width: $full-width;
    max-width: 90%;
  }
  
}

form select, form textarea {
  border: 1px solid $black-text;
  border-radius: 3px;
  padding: .75rem;
  width: $full-width;
  max-width: 20rem;
}


form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid $black-text;
  border-radius: 3px;
  padding: .75rem;
  color: #555;
  width: $full-width;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.05);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: rgb(68, 68, 68);
}


form input.submitBtn {
  // border: 2px solid $black-text;
  border: none;
  background-color: $main-color;
  color: $white-text;
  border-radius: 3px;
  padding: .75rem 1.5rem;
  margin: $margin $margin 2.5rem $marg-two;
  width: 96%;
  max-width: 20rem;
  text-transform: uppercase;
  font-weight: 700;
}

form input.submitBtn:hover {
  background-color: rgb(7, 128, 3);
}



form label.top input:required {
  border-left: rgb(179, 1, 1) solid 6px;
  border-radius: 10px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
  border-radius: 10px;
}



/*-------- gallery--------*/
section.gallery figure {
  width: $full-width;
  height: 0;
  padding-bottom: 55.8%;
  position: relative;
  margin: $margin;

  img {
    width: $full-width;
    height: auto;
    position: absolute;
  }
}

.lazyImages {
  padding: 1rem 0;
  h4 {
    font-weight: 600; 
    text-align: center;
    padding: 0 3%;
  }
}


/*-------- video --------*/
.videoSection {
  background-color: rgba(26, 92, 0, 0.205);
  background-color: rgba(0, 81, 92, 0.205);

  border-top: 2px solid $black-text;
  margin: $margin;
  padding: .5rem $pad-two;
  padding-bottom: 1.5rem;

  .video {
    width: 90%;
    height: 250px;
    margin: auto;

    iframe {
      height: $full-width;
      width: $full-width;
      top: 0;
      left: 0;
      border: 1px solid #fff;
      // border: none;
      border-radius: 3px;
      box-shadow: 0px 0px 3px #000;
    }
  }
}


.meetHorses {
  background-color: rgba(0, 81, 92, 0.205);

  border-top: 2px solid $black-text;
  padding: 5%;


  .members {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;


    .column {
      padding: 0;
      margin: 0 auto;
      margin-bottom: 1rem;


      #circle {
        display: block;
        width: 100%;
        clip-path: circle(62%);
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto;  
        margin-bottom: .8rem;
      }
    

        h2 {
          width: 100%;
          font-size: 1rem;
          text-align: center;
          margin: 0 auto;
        }
    }
  }



 .viewMore {
   width: 100%;
   margin: 0 auto;
   text-align: center;

  button {
    width: 80%;
    background-color: $main-color;
    font-weight: 700;
    color: $white-text;
    padding: 0.8rem $pad;
    border: none;
    border-radius: 3px;
  }

  button:hover {
    background-color: $third-color;
    color: $white-text;
    cursor: pointer;
  }
 }

}



.lazy {
  background-repeat: none;
  background-position: center;
  background-size: cover;
}


.quick, .videoSection {
  h1 {color: #fff; text-shadow: 2px 2px 3px #000;}

  h1:before {
    background-color: white;
    box-shadow: 2px 2px 3px #000;
  }

  h1:after {
    background-color: white;
    // drop: 2px 2px 3px #000;
    box-shadow: 2px 2px 3px #000;
  }
}


.quick {
  // background-color: rgba(26, 92, 0, 0.205);
  // background-color: rgba(0, 81, 92, 0.205);
  // background-image:url(../images/IMG_0222.jpg);


  border-top: 2px solid $black-text;
  margin: 0;
  padding: 1rem 2%;
  color: white;



  ul {
    margin: 0;
    padding: 0;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2%;
    grid-row-gap: .8rem;
  }

  ul li {
    padding: .7rem 0;
    list-style-type: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 3px #000;
    border-radius: 3px;
    // margin: .5rem 0;
  }

  ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
  }

  ul li:hover {background-color: $main-color; border-radius: 3px;}

  ul li:hover a {color: #fff;}
}



/*-------- BLOG --------*/
.blog {
  width: $full-width;
  height: $full-width;
  margin: $margin auto;
  padding: $pad-two;
  border-top: 2px solid $black-text;
  text-align: center;
  background-color: $sec-color;
  background-color: rgba(0, 81, 92, 0.205);


    .morePosts {
    display: grid;
    grid-template-columns: 1fr;
    margin: $margin auto;
    padding: 5% $pad;
    margin: 1rem $margin;

      .viewMore {
        margin: $margin;
        padding: .5rem $pad;
      }

      .search{
        margin: $margin;
        padding: .5rem $pad;
      }

      input[type=text] {
      width: 150px;
      width: $forty-width;
      box-sizing: border-box;
      border: 2px solid rgb(189, 189, 189);
      border-radius: 3px;
      font-size: 16px;
      background-color: $sec-color;
      background-image: url('../images/search-outline.svg');
      background-position: 5px 5px; 
      background-size: 30px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      outline: none;
      }
      
      input[type=text]:focus {width: 80%;}

      button {
        width: 80%;
        background-color: $main-color;
        font-weight: 700;
        color: $white-text;
        padding: 0.8rem $pad;
        border: none;
        border-radius: 3px;
      }

      button:hover {
        background-color: $third-color;
        color: $white-text;
        cursor: pointer;
      }
  }

}


.card-hover {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1%;

  .card {
    display: block;
    width: $full-width;
    height: 310px;
    text-align: center;
    text-decoration: none;
    padding: $pad-three;
    transition: all 0.5s ease-in;
    color: $white-text;
    border-radius: 3px;

    .content {
      height: $full-width;
      border: 3px solid $white-text; 
      border-radius: 3px;
      padding: $pad-three;

      h3, .disappear {
        font-size: 2rem;
        text-shadow: 1px 1px 5px $third-color;
        text-align: center;
        margin: $margin;
      }

      .description {
        font-size: 1rem;
        text-align: left;

        .readMore {
          text-align: center;
        }

        .readMore:hover {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }

  .card:hover {
    background-color: none;
    text-shadow: 0px 0px 10px $third-color;
  
    img {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    }
  }
}



.card:nth-child(1) {
  background: $background-gradient, url(../images/hover_images/blog1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .description {display: none;}
}

.card:nth-child(2) {
  background: $background-gradient, url(../images/hover_images/blog2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .description {display: none;}
}

.card:nth-child(3) {
  background: $background-gradient, url(../images/hover_images/blog3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .description {display: none;}
}


.card:hover {
  background-image: none;
  background-color: $main-color;
  .disappear {display: none;}
  .description {display: block;}
}




.quick, .textContent {
  h1:before {
    width: 20%;
    height: 5px;
    border-radius: 3px;
  }
  h1:after {
    // width: 130px;
    width: 20%;
    border-radius: 3px;
  }
}

.meetHorses {
  h1:before {
    width: 13%;
    height: 5px;
    border-radius: 3px;

  }
  h1:after {
    // width: 130px;
    width: 13%;
    border-radius: 3px;
  }
}




/*-------- FOOTER --------*/
.footerWrapper {
  background-color: $sec-color;
  border-top: 2px solid $black-text;
}

footer {
  color: $black-text;
  text-align: center;
  padding: 0.8rem $pad-two;

  h1 {
    font-size: 1.2rem;
  }
}

footer .social a {
  font-size: 2.5rem;
  margin: $marg-two 0.5rem;
  color: $main-color;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
