/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", serif;
}

/*-------- HEADER --------*/
header {
  padding: 0.5rem 2%;
  background-color: $main-background-color;
  display: grid;
  grid-template-columns: 100px auto;
}

header img {
  width: 100%;
}

header h1 {
  margin: $margin;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.3rem;
}
header h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

/*-------- NAV --------*/
.navWrapper {
  background-color: #fff;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

nav button {
  margin: .2rem 2%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: #000;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#primaryNav {
  height: 0;
  overflow: hidden;
}

#primaryNav.open {height: auto;}

#primaryNav li.parent > a::after {
  content: "\25BC";
  font-size: .7rem;
  padding-top: .16rem;
  color: rgba(0,0,0,0.53);
  float: right;
}

#primaryNav li ul {
  display: none;
}

#primaryNav li:hover ul {
  display: block;
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #000;
  border-top: 1px solid #000;
}

nav ul li.active a {background-color: rgb(1, 94, 131); color: #fff;}
nav ul li a:hover {
  background-color: rgb(1, 50, 70); color: #fff;
}

nav ul.hide {display: none;}





/*-------- MAIN --------*/
.mainWrapper {
  background-color: rgb(224, 224, 224);
}

main {
  min-height: 10rem;
  margin: $margin auto;
  background-color: #fff;
}

/*-------- Hero/slider --------*/

.slider picture {
  position: relative;
  padding: 0;
  margin: 0;
}
.slider picture img {
  width: 100%;
}

main picture.hero {
  width: 100%;
  margin: 0;
  padding: 0;
}
main picture.hero img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.textContent {
  padding: 2% 2%;
  margin: 0;
  background-color: #fff;
}

.gallery {
  padding: 1.2rem 0;
}


.gallery h4 {
  margin: 0 auto;
  text-align: center;
  padding: 2% 4%;
  font-weight: 400;
  font-size: 1.2rem;
}

/*-------- page h1 titles --------*/

main {
  h1 {
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }

  h1:before {
    content: "";
    display: block;
    width: 25%;
    height: 5px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  }
  h1:after {
    content: "";
    display: block;
    width: 130px;
    width: 25%;
    height: 5px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }

  h3 {
    text-align: center;
    font-weight: 400;
    margin: 0;

    span {
      font-style: italic;
    }
  }
}

/*-------- letter --------*/

.letter {
  padding: 1rem 5%;

  a {
    color: rgb(1, 94, 131);
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
  }

  a:hover {
    text-decoration: underline;
  }
}




/*-------- BOOK/FORM --------*/
.trails {
  padding: .5rem 5%;
  margin: 0 auto;

  a {
    color: rgb(1, 94, 131);
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

.signupForm {
  padding: .5rem 5%;
  margin: 0 auto;



  fieldset {
    background-color: #fff;
    margin: 2rem 0;
    border: 3px solid #000;
    border-radius: 15px;
    padding: 2%;

    p {
      width: 100%;
      max-width: 90%;
    }
  }

  legend {
    color: rgb(1, 94, 131);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 2%;
    padding: 0 3%;
  }

  label.top, div {
    display: block;
    padding-top: 1rem;
    color: #000;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;

  }

  div span {
    font-weight: 700;
  }

  .agreement {
    width: 100%;
    max-width: 90%;
  }
  
}

form select, form textarea {
  border: 1px solid #000;
  border-radius: 3px;
  padding: .75rem;
  width: 100%;
  max-width: 20rem;
}


form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 3px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.05);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: rgb(68, 68, 68);
}





form input.submitBtn {
  border: 2px solid #000;
  background-color: rgb(1, 94, 131);
  color: #fff;
  border-radius: 16px;
  padding: .75rem 1.5rem;
  margin: 0 0 2.5rem 2%;
  width: 96%;
  max-width: 20rem;
  text-transform: uppercase;
  font-weight: 700;
}

form input.submitBtn:hover {
  background-color: rgb(7, 128, 3);
}



form label.top input:required {
  border-left: rgb(179, 1, 1) solid 6px;
  border-radius: 10px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
  border-radius: 10px;
}





/*-------- gallery--------*/
section.gallery figure {
  width: 100%;
  height: 0;
  // padding-bottom: 56.8%;
  padding-bottom: 38.8%;
  position: relative;
  margin: 0;
}

section.gallery figure img {
  width: 100%;
  height: auto;
  position: absolute;
}

/*-------- video --------*/
.videoSection {
  background-color: rgba(26, 92, 0, 0.205);
  margin: 0 auto;
  padding: .5rem 2%;
  padding-bottom: 1.5rem;

  .video {
    width: 90%;
    margin: auto;
  }
  
  .youtubeVideo {
    background-color: #000;
    // margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    
    img {
      width: 100%;
      top: -16.82%;
      left: 0;
      opacity: 0.7;
    }
  
    .play-button {
      width: 90px;
      height: 60px;
      background-color: #333;
      box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
      z-index: 1;
      opacity: 0.8;
      border-radius: 6px;
    }
  
    .play-button:before {
      content: "";
      border-style: solid;
      border-width: 15px 0 15px 26.0px;
      border-color: transparent transparent transparent #fff;
    }
  
    img, .play-button {cursor: pointer;}
  
    img, iframe, .play-button, .play-button:before {position: absolute;}
  
    .play-button, .play-button:before {
      top: 50%;
      left: 50%;
      transform: translate3d( -50%, -50%, 0 );
    }
  
    iframe {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}















/*-------- BLOG --------*/
.blogSection {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2% 2%;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  text-align: center;
  line-height: 1;

  button {
    width: 80%;
    background-color: rgb(1, 94, 131);
    font-weight: 700;
    color: #fff;
    padding: 0.8rem 0;
    // margin: 0.5rem 0;
    border: none;
    border-radius: 3px;
  }

  button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }

  .morePosts {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5% 2%;

    .viewMore {
      margin: 0;
      padding: .5rem 0;
    }

  .search{
    margin: 0;
    padding: .5rem 0;


    input[type=text] {
      width: 150px;
      width: 40%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('../images/search-outline.svg');
      background-position: 5px 5px; 
      background-size: 30px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {width: 80%;}
  }

  }
}


.card-hover {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: .5rem;

  .card {
    display: block;
    width: 100%;
    height: 470px;
    text-align: center;
    text-decoration: none;
    padding: 5% 5%;
    transition: all 0.5s ease-in;
    color: #fff;
    border-radius: 3px;


    .content {
      height: 100%;
      border: 3px solid #fff;
      border-radius: 3px;
      padding: 3%;

      h3,
      .disappear {
        font-size: 2rem;
        text-shadow: 1px 1px 5px #000;
        text-align: center;
      }

      p {
        font-size: 1.3rem;
        text-align: left;
      }
    }
  }
}

.hoverContent {
  display: none;

  a {
    text-decoration: none;
    width: 100%;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      height: 2.5rem;
      color: #000;
      background-color: #fff;
      width: 75%;
      border: none;
      margin: auto;
      border-radius: 3px;
    }

    button:hover {
      background-color: #fff;
      color: #000;
      cursor: pointer;
    }
  }
}

.card-hover .card:hover {
  background-color: none;
  .disappear {
    display: none;
  }
}

.card:nth-child(1) {
  background: url(../images/hover_images/blog1.jpg);
  background-size: cover;
  background-position: center;
}
.card:nth-child(2) {
  background: url(../images/hover_images/blog2.jpg);
  background-size: cover;
  background-position: center;
}
.card:nth-child(3) {
  background: url(../images/hover_images/blog3.jpg);
  background-size: cover;
  background-position: center;
}

.card:hover {
  background-color:  rgb(2, 89, 124);

  background-image: none;

  text-shadow: 1px 1px 2px #000;
  font-weight: 400;

  .hoverContent {
    display: block;
  }

  button:hover {
    background-color: black;
    color: white;
  }
}



/*-------- FOOTER --------*/
.footerWrapper {
  background-color: $sec-background-color;
  background-color: #fff;
}

footer {
  color: $main-text-color;
  color: #000;
  text-align: center;
  padding: 0.8rem 2%;

  h1 {
    font-size: 1.2rem;
  }
}

footer .social a {
  font-size: 2.5rem;
  margin: 2% 0.5rem;
  color: rgb(1, 94, 131);
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
